<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <!-- That was called servlet-probeType.
             I changed it so it would match the example
             -Frederik-         -->
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <!-- That was called param-probeType.
             I changed it so it would match the example
             -Frederik-         -->
            <param-value>org.fraunhofer.cese.funf_sensor.backend.apis.MessageEndpoint,
                org.fraunhofer.cese.funf_sensor.backend.apis.SensorDataSetEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>

        <!-- That was called servlet-probeType.
             I changed it so it would match the example
             -Frederik-         -->
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>