package org.fraunhofer.cese.madcap.backend;

/**
 * Rename to Constants.java and replace with appropriate values
 *
 * Created by llayman on 9/13/2016.
 */
public class Constants {

    public static final String WEB_CLIENT_ID = "the web client id goes here";
    public static final String ANDROID_CLIENT_ID = "the android client id goes here";
    public static final String ANDROID_AUDIENCE = WEB_CLIENT_ID;
}
